.App {
  text-align: center;
}

.cell {
  display: inline-flex;
  font-weight: bold;
  font-size: 2em;
  border: solid;
  border-color: black;
  background-color: rgb(118, 149, 149);
  padding: 10px;
  cursor: pointer;
  color:  rgb(118, 149, 149);
  text-align: center;
}


.board {
  font-family: monospace;
}

.cell {
  cursor: pointer;
  user-select: none;
}

.cell input {
  display: none;
}

.cell input:checked + span {
  color: red;
}
